

@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
      background:#6a8dff;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Kantumruy Pro", sans-serif;
    }

    .card-box {
      background: white;
      padding: 40px;
      border-radius: 16px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      width: 100%;
      max-width: 400px;
      text-align: center;
    }

    .icon-box {
      width: 60px;
      height: 60px;
      background: #f3e8ff;
      color: #2f41e4;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 20px;
      font-size: 24px;
    }

    .btn-purple {
      background: linear-gradient(90deg, #175bae, #4e74e4);
      color: white;
      border: none;
      border-radius: 10px;
      padding: 10px;
    }

    .btn-purple:hover {
      opacity: 0.9;
    }
